@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Grandstander:ital,wght@0,100..900;1,100..900&display=swap'); */


*{
    font-family: 'Onest', sans-serif;
    font-size: 16px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;}

/* Root Variables */
:root{
    --colorprimary:#000;
    --colorsecondary:#fff;
    --coloraccent:#e8eaed;
    --coloraccent2:#767676;
    /* --coloraccent2:#A6A6A6; */
    --coloraccent3:#d5d5d5;
    /* --coloraccent3:#DBDBDB; */

    --greendark:#358600;
    /* --greendark:#3AD365; */
    --green:#7CB518;;
    --greenmild:#C6D880;
    --greenpowder:#E6EFC2;

    --yellowdark:#ff6d00;
    --yellow:#ffc800;
    --yellowmild:#ffeb7b;
    --yellowpowder:#fafeda;

    --reddark:#d50000;
    --red:#d12f19;
    /* --red:#EB5252; */
    --redmild:#ff9a9d;
    --redpowder:#fbe0e6;

    --bluedark:#0056b3;
    --blue:#2962ff;
    /* --blue:#73A2FF; */
    --cyan:#109CF1;
    /* --cyan:cyan; */
    --bluemild:#92BDDA;
    --bluepowder:#eaf2f5;

    --shadow: 0 0 10px rgba(0,0,0,0.5);
    --border: 1px solid var(--coloraccent3);

    --gap: 12px;
    --vertical-spacing: 20px 0;
    --no-top: 0 15px 15px;

/* p-13 h6-14 h5-16 h4-18 h3-20 h2-24 h1-30 */
/* no-bold, eiter use <b> or <strong> */

    --ff: 'Onest', sans-serif;
    --h1: bold 40px var(--ff);
    --h2: bold 30px var(--ff);
    --h3: bold 26px var(--ff);
    --h4: 26px var(--ff);
    --h5: bold 24px var(--ff);
    --h6: bold 20px var(--ff);
    --p: 16px var(--ff);
    --subtext: 14px var(--ff);
}

h1{font: var(--h1);}
h2{font: var(--h2);}
h3{font: var(--h3);}
h4{font: var(--h4);}
h5{font: var(--h5);}
h6{font: var(--h6);}
p{font: var(--p);}
.subtext{font: var(--subtext);}

/* box-shadow: 0 0 10px rgba(0,0,0,0.1); */

/* --- !super --- */
.container{width: 100%; margin: 0 auto; padding: 0 var(--gap);}
.wrapper{border-radius: 5px; background: var(--colorsecondary); box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); padding: var(--no-top);}

.constrict{width: 100%; margin: 0 auto;}
.panel{margin: 10px; padding: 15px; border: var(--border); box-shadow: var(--shadow);}

.frame{
    padding: 10px;
    border: var(--border);
    margin-top: -1px;
    align-items: flex-start;
}

.scrollable{overflow: auto;}

.cursor-pointer{cursor: pointer;}

/* --- !colour-related items--- */
.teks-negatif{color: var(--red);}
.teks-positif{color: var(--greendark);}
.teks-netral{color: var(--blue);}
.teks-putih{color: white;}
.bg-yellow{background: var(--yellow);}
.bg-yellowdark{background: var(--yellowdark);}
.bg-cyan{background: var(--cyan);}
.bg-green{background: var(--green);}
.bg-greendark, .tombol-positif{background: var(--greendark);}
.bg-blue, .tombol-netral{background: var(--blue);}
.bg-red, .tombol-negatif{background:var(--red);}

/* --- !framed --- */
.reminder{
    padding:10px;
}
.status{
    border-radius: 30px;
    padding: 3px 15px;
}
.tombol, .tombol-besar, .tombol-mini, .reminder{
    border-radius: 4.5px;
}
.tombol, .tombol-besar, .tombol-mini, .tombol-none{
    display: flex;
    justify-content: center;

    font-family: 'Nunito', sans-serif;
    cursor: pointer;

    text-decoration: 0;
    align-items: center;

    margin: 0 2px;
}
.tombol-none{border:0;background:0;fill:0;}
.tombol{padding: 5px 7px;}
.tombol-besar{justify-self: center;padding: 10px 20px;}
.tombol-mini{padding: 1px 5px;}
.status,.tombol-netral, .tombol-negatif, .tombol-positif{border: none; color: var(--colorsecondary); fill: var(--colorsecondary);}
/* tombol netral */
.tombol-netral:hover{
    background: var(--bluepowder);
    box-shadow: inset 0px 0px 0px 1px var(--bluemild);;
    color: var(--bluedark);
    fill: var(--bluedark);
}
.tombol-netral:active{box-shadow: 2px 2px 5px var(--blue);}
/* tombol negatif */
.tombol-negatif:hover{
    background: var(--redpowder);
    box-shadow: inset 0px 0px 0px 1px var(--redmild);;
    color: var(--reddark);
    fill: var(--reddark);
}
.tombol-negatif:active{box-shadow: 2px 2px 5px var(--red);}
/* tombol positif */
.tombol-positif:hover{
    background: var(--greenpowder);
    box-shadow: inset 0px 0px 0px 1px var(--greenmild);;
    color: var(--greendark);
    fill: var(--greendark);
}
.tombol-positif:active{box-shadow: 2px 2px 5px var(--green);}
/* tombol:disabled */
.tombol:disabled,
.tombol-besar:disabled,
.tombol-mini:disabled,
.tombol-positif:disabled:hover,.tombol-positif:disabled:active,
.tombol-netral:disabled:hover,.tombol-netral:disabled:active,
.tombol-negatif:disabled:hover,.tombol-negatif:disabled:active{
    background: var(--coloraccent);
    box-shadow: none;
    color: var(--colorsecondary);
    fill: var(--colorsecondary);
    cursor: not-allowed;
}

/* --- !spacing --- */
.gap{gap: var(--gap);}

.content-padding{padding: var(--gap);}
.content-padding-vertical{padding: var(--vertical-spacing);}
.content-padding-side{padding: 0 var(--gap);}
.content-padding-no-top{padding: var(--no-top);}
.content-padding-bottom{padding-bottom: var(--gap);}
.padding-0{padding: 0;}

.margin-vertical{margin:var(--vertical-spacing);}
.margin-vertical-narrow{margin: var(--gap) 0;}
.margin-0{margin: 0;}
.margin-bottom-auto{margin-bottom: auto;}
.margin-top-auto{margin-top: auto;}
.margin-right-auto{margin-right: auto;}
.margin-left-auto{margin-left: auto;}
.content-margin-top{margin-top: var(--gap);}
.content-margin-bottom{margin-bottom: var(--gap);}
.content-margin-left{margin-left: var(--gap);}
.content-margin-right{margin-right: var(--gap);}

.inline{display: inline;}
.inline-block{display: inline-block;}

.flex{display: flex; flex-wrap: wrap;}
.flex-col{flex-direction: column; flex-wrap: wrap;}
.flex-nowrap {flex-wrap: nowrap;}
.flex-1{flex:1;}
.flex-2{flex:2;}
.flex-3{flex:3;}
.flex-4{flex:4;}
.flex-center{align-items: center; justify-content: center; justify-items: center;}

.justify-flex-start{justify-content: flex-start;}
.justify-flex-end{justify-content: flex-end;}
.justify-end{justify-content: end;}
.justify-center{justify-content: center; justify-items: center;}
.justify-between{justify-content: space-between;}
.justify-around{justify-content: space-around;}
.justify-right{justify-content: right;}
.justify-left{justify-content: left;}

.align-items-center{align-items: center;}
.align-self-center{align-self: center;}
.align-self-baseline{align-self: end;}

.text-align-center{text-align: center;}
.text-align-left{text-align: left;}
.text-align-right{text-align: right;}

.position-relative{position: relative;}
.position-absolute{position: absolute;}

/* --- !table --- */
table{
    width: 100%;
    border-collapse: collapse;
}
/* table.fixed{table-layout: fixed;} */
table.alternate{
    width: 100%;
    table-layout: fixed;

    th, th *, td, td *{
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

    tr:nth-child(even){background: var(--bluepowder);}

    tr th{background: var(--bluepowder);}

    tr:hover{background: var(--coloraccent3);}

    tr:hover{.tombol-none{fill: var(--coloraccent2);}}

    .tombol-none:hover{fill: var(--colorprimary);}

    thead, tfoot{
        position: sticky;
        top: 0;
    }
}

/* --- custom input --- */
.checkmenu{
    display: flex;
    padding: 10px;
    border: var(--border);
}
.checkmenu > * {
    padding-left:10px;
}
.checkmenu > input{
    width:24px;
    height:24px;
}
.inputbox{
    padding: 10px;
    label, input, textarea{position: relative;width: 100%;}
    label{display: block;}
}
.inputbox .inputbox-x,
.inputbox .inputbox-y,
.inputbox input,
.inputbox select,
.inputbox textarea{
    border: var(--border);
}

.inputbox .inputbox-x,
.inputbox .inputbox-y{
    cursor: pointer;
}

.inputbox .inputbox-x,
.inputbox input{
    color: var(--coloraccent2);
}

.inputbox .inputbox-y{
    float: right;
    color: var(--coloraccent2);
    background: var(--coloraccent);
    /* background: white; */
}

/* --- unggah lewat Dropzone  > JS --- */
.dropzone{
    cursor: pointer;

    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;

    padding: 20px;
    border: 2px dashed var(--blue);
    border-radius: 8px;
    background: var(--bluepowder);
}
.dropzone.dragover{
    background: var(--coloraccent);
}
.dropzone-card{
    fill: var(--coloraccent2);
    color: var(--coloraccent2);
}
.preview{
    margin-top: 10px;
}
.preview img, .preview iframe{
    max-width: 100%;
    height: auto;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 5px;
}
.progress-container{
    margin-top: 10px;
}
.progress-bar{
    height: 10px;
    background: #007bff;
    width: 0%;
    border-radius: 4px;
    transition: width 0.3s ease;
}
.error{
    color: var(--red);
    margin-top: 10px;
}



/* ----- WEB CONTENT ----- */
:where(main ol, main ul){
    margin-inline-start: 0;
    padding-inline-start: 20px;
}
th,td{
    vertical-align: middle;
    text-align: left;
    padding: 8px 0;
    padding-left: 10px;
}
.form-item{
    font: inherit;
    /* margin: 4px 0; */
    /* line-height: 24px; */
    padding: 3px 5px;
}
/* ----- Home ---- */
/* Home - Layout */
.home-layout{
    font-family: var(--ff);
    min-height: 100vh;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    /* background: url(https://placehold.co/100?text=Dummy+Image) top center; */
    background-color: rgba(0,0,0,0.1);
}
.home-header{
    position: sticky;
    top: 0;
    height: 50px;
    padding: 5px 0px;
    background: var(--green);
    color: var(--colorsecondary);
    z-index: 1;
    a{
        text-decoration: none;
        font: inherit;
        color: var(--colorsecondary)
    }
}
.home-nav{
    margin-inline-start: auto;

    a{
        padding: 8px 25px;
        font-weight: 600;
    }

    a:hover, a.current{
        color: var(--green);
        background-color: var(--colorsecondary);
        border-radius: 30px;
    }
}
.home-main{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.home-footer{
    margin-top: 50px;
    .footer-head{
        padding-bottom:10px;
    }
    .footer-body{
        padding:12px 0;
    }
    table {
        border-spacing: 10px;
    }
    img{
        height: 25px;
        width: auto;
        vertical-align: middle;
    }
}
/* Home - Content */
.home-section{
    /* width: 100%; */
    padding: 12px 0;
    margin-top: 10px;
    background-color: var(--colorsecondary);
    box-shadow: var(--shadow);
}
.section-kid-body{
    padding: var(--gap) 10px 0px;
    display: flex;
    flex-direction: column;
    flex: 1;
}
.section-kid-img{
    width: 33.3333333%;
    height: 350px;
    overflow: hidden;
    padding: var(--gap) 0;
    display: flex;
}
/* Experiment - Section Struktur */
#section-hero{
    background: url(https://placehold.co/100?text=Dummy+Image);

    div.section-kid-body{margin:0px 0px 75px 0px;}

    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        mask-image: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 1) 100%);
    }
    h1{line-height:56px;}
    h2{font-size:26px;}
    .hero-button{
        display:flex;
        margin-top:auto;
        /* interchangable dengan margin-right di button mengatur jarak antar button  */
        /* justify-content: space-between; */
        a{
            display:flex;
            text-decoration:0;
            align-items:center;

            border-radius:30px;
            box-shadow:var(--shadow);

            padding:10px 15px;
            margin-right:80px;

            background:var(--green);
            fill:var(--colorsecondary);
            color:var(--colorsecondary);

            span{margin-right:10px;}}
        a:hover{
            cursor:pointer;
            background:var(--colorsecondary);
            color:var(--colorprimary);
            fill:var(--colorprimary);}
    }
}
#section-prosedur, #section-informasi, #section-profil{
    >div{margin-bottom:50px;}

    img{
        align-self: start;
        width: 100%;
        height: 100%;}
    li{
        /* font-family:"Outfit"; */
        /* font-size:18px; */
        line-height:28px;
        font-weight:500;}
}
#section-visimisi{
    li{font-size:18px;line-height:24px;font-weight:400;}
}
#section-login{
    background-color: var(--colorsecondary);
    margin: auto;
    padding: 0 40px;
    border: var(--border);
    box-shadow: var(--shadow);
    border-radius: 10px;

    /* button{
        border: none;
    }
    button, a:hover, a.current{
        padding: 10px;
        text-decoration: 0;
        background: var(--blue);
        fill: var(--colorsecondary);
        color: var(--colorsecondary);
    }
    button:hover, a{
        padding: 10px;
        text-decoration: 0;
        cursor: pointer;
        background: var(--bluepowder);
        color: var(--blue);
        fill: var(--blue);
    }
    button:active{
        box-shadow: 2px 2px 5px var(--blue);
    }
    #register{display: none;} */
}
#section-daftar{
    table{
        width: 100%;
    }
}
.form-login{
    input{
        border: var(--border);
        background-color: var(--colorsecondary);
        font: inherit;
        margin: 4px 0;
        padding: 10px;
        border-radius: 8px;
        outline: none;
    }
    .gap{padding: 8px 0;}
    .form-login_item{width: 300px;}
}
.form-daftar{
    header{margin:20px 0 5px;}
}
/* Home - Media Query */
@media (min-width: 576px){
    .container{max-width:540px;}
    .panel{overflow-x:auto;}
}
@media (min-width: 768px){
    .container{max-width:720px;}
}
@media (min-width: 992px){
    .container{max-width:960px;}
}
@media (min-width: 1200px){
    .container{max-width:1100px;}
}

/* --- APP --- */
/* --- App Layout --- */
.app-layout{
    display: flex;
    height: 100vh;
    background: var(--colorsecondary);
}
.app-sidebar{
    width: 230px;
    display: flex;
    flex-direction: column;

    li{
        list-style: none;
    }
    a, button{
        text-decoration: none;
        color: var(--colorprimary);
        padding: var(--gap);
        display: flex;
        width: 100%;
        cursor: pointer;
    }
    a:hover, a.current, button:hover, button.current{
        color: var(--colorsecondary);
        fill: var(--colorsecondary);
        background: var(--blue);
    }
    /* --- push dropdown untuk sidebar > JS --- */
    .conform{
        background: 0;
        border: 0;
    }
    .submenu{
        padding-left: 1rem;
        /* display: grid; */
        /* grid-template-rows: 0fr; */
        transition: 100ms ease-in-out;
        div{overflow: hidden;}

        /* &.show{grid-template-rows: 1fr;} */
    }
}
.app-content-area{
    display: flex;
    flex-direction: column;
    flex: 1;
}
.app-main{
    flex: 1;
    height: 100%;

    display: flex;
    flex-direction: column;
    background: var(--coloraccent);
}
/* --- App Content --- */
.app-content{
    display: flex;
    flex-direction: column;
    height: 100%;
}
.content-title{
    display: flex;
    align-items: center;
    font: var(--h3);
}
/* !PENTING flex saja, tidak pakai wrap. Bukan .flex di root stylesheet styles.css */
.biodata, .ppdb-buat, .pengumuman-riwayat, .ppdb-list-table{
    display: flex;
    height: 100%;
}
/* Biodata Layout */
.biodata{
    overflow: hidden;
}
.biodata-brief{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: auto;
    width: 300px;
    padding: 10px;
}
.biodata-info{
    padding: 10px;
    border-left: 1px solid #ddd;
}
.biodata-dokumen{
    display: flex;
    padding: var(--no-top);
}
.biodata-dokumen > * {
    padding: 10px 0 0 10px;
}
/* Pendaftar - Beranda */
.stepper{
    ul, ol{
        display:flex;
    }
    li{
        display: flex;
        flex:1;
        flex-direction: column;
        text-align: center;
    }
    li:before {
        display: block;
        content: "";
        --size: 30px;
        width: var(--size);
        height: var(--size);
        position: relative;
        background: white;
        border: 1px solid #000;
        border-radius: 50%;
        margin: 0 auto;
    }
    li:not(:last-child):after {
        content: "";
        position: relative;
        left: 50%;
        background: #ddd;
        order: -1;
        height: 4px;
        top: 15px;
    }
    li.active {color: var(--blue);}
    li.active:before, li.active:after {border-color: var(--blue);background: var(--blue);color: var(--blue);}
}
/* Pendaftar - Formulir */
.form-section{
    padding: 12px 12px 0;
    /* .head{border-bottom:var(--border);} */
}
/* Admin - Beranda */
.admin-welcome{
    height: 65%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 80px;
}
.admin-summary{
    display: flex;
    height: 35%;
}
.beranda-item{
    flex: 1;
    justify-content: center;
    padding: 15px;
    color: white;
}
/* Admin - PPDB Rincian  */
.ppdb-rincian{
    tr{
        border-top: var(--border);
        border-bottom: var(--border);
    }
    th,td{padding: 12px;}
}
/* Admin - PPDB Buat */
/* Admin - Pengumuman Riwayat */
.ppdb-buat-dokumen, .pengumuman-riwayat, .ppdb-list-table{
    flex: 1;

    display: flex;
    flex-direction: column;
}
.ppdb-buat{
    td{padding: 0;}
}
.ppdb-list-table{
    col:first-child{width: 3%;}
    col:nth-child(4){width: 25%;}
    col:last-child{width: 10%;}
}
.pengumuman-riwayat{
    col:first-child{width: 3%;}
    col:nth-child(2){width: 15%;}
    col:nth-child(3){width: 50%;}
    col:nth-child(4){width: 10%;}
    col:last-child{width: 5%;}
}
.ppdb-list-table, .pengumuman-riwayat{
    th:first-child,td:first-child{text-align: center; input{width: 16px; height:16px;}}
    th:last-child,td:last-child{text-align: right; padding: 10px;}
}

/* App - Media Query */
@media screen and (min-width: 1058px){
    .ppdb-buat{flex-wrap: nowrap;}
}
@media screen and(max-width: 1058px){
    .ppdb-buat{flex-direction: column;}
}
@media (min-width: 768px){
    .constrict{max-width:680px;}
}

#section-daftar,
#admin-ppdb-entry,
#pendaftar-biodata,
#pendaftar-formulir{
    td{vertical-align: top;}
}
